@model SimpleImageGallery.Data.GalleryImage

<div class="container body-content">
    <div class="image-detail-content">
        <div class="row image-detail-container">
            <img src="@Model.Url" alt="@Model.Title" class="img-responsive" />
        </div>
        <div class="row image-detail-meta">
            <span>@Model.Title</span>
            <span>@Model.Created</span>
        </div>
        <div class="row controls">
            <button class="btn btn-primary" >Back to Gallery</button>
        </div>
    </div>
</div>

